<div class="sidebar-background" [class]="!isExpanded ? 'sidebar-open' : 'sidebar-close'">
  <div class="sidebar-logo d-flex d-flex flex-column">
    <div></div>
    <div></div>
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      <span>{{ node.name }}</span>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <div class="w-100 d-flex flex-row justify-content-between align-items-center">
        <div class="w-100 d-flex flex-row justify-content-start align-items-center">
          <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
            {{ node.type === 'file' ? 'description' : 'folder' }}
          </mat-icon>
          <span>{{ node.name }}</span>
        </div>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'expand_less' }}
          </mat-icon>
        </button>
      </div>
    </mat-tree-node>
  </mat-tree>
  <div>
    <button *ngIf="isMobileDesign" (click)="toggleMenu()">-</button>
  </div>
</div>
