//
.sidebar-background {
  padding: 12px;
  padding-top: 0;
  height: 100vh;
  width: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
mat-tree-node {
  span {
    padding-left: 5px;
  }
}

.mat-drawer-inner-container {
  overflow: hidden;
}
.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  &:hover {
    cursor: pointer;
  }
}

.sidebar-open {
  width: max-content;
  position: unset;
  mat-tree-node div {
    display: unset;
  }
  span {
    display: unset;
  }
}
.sidebar-close {
  width: 50px;
  position: fixed;
  max-width: 50px;
  background-color: white;
  span {
    display: none;
  }
  .tree-node-children {
    display: none;
  }
  &:hover {
    max-width: 100%;
    width: max-content;
    span {
      display: unset;
    }
    .tree-node-children {
      display: unset;
    }
  }
}

* {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
