<div class="tooltip-background" [class]="customClass">
  <div
    class="tooltip-conatiner"
    [ngClass]="{
      top: position === 'bottom',
      bottom: position === 'top',
      right: position === 'left',
      left: position === 'right'
    }"
  >
    <ng-template #simpleText>
      {{ text }}
    </ng-template>
    <ng-container *ngTemplateOutlet="contentTemplate || simpleText"> </ng-container>
  </div>

  <!-- <div class="arrow "></div> -->

  <!-- <div [class]="'arror-' + position" [ngSwitch]="position">
    <div *ngSwitchCase="'top'"><i class="fa-solid fa-caret-up"></i></div>
    <div *ngSwitchCase="'left'"><i class="fa-sharp fa-solid fa-caret-left"></i></div>
    <div *ngSwitchCase="'right'"><i class="fa-solid fa-caret-right"></i></div>
    <div *ngSwitchCase="'bottom'"><i class="fa-solid fa-caret-down"></i></div>
  </div> -->
</div>
