.tooltip-conatiner {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 1px 5px 4px 5px;
  background-image: linear-gradient(to right, gray, white, gray);
  position: relative;
}

.arrow-left {
}
.arrow-right {
}
.arrow-top {
}
.arrow-bottom {
}

/* Top Arrow */
.tooltip-conatiner.top::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
}

/* Left Arrow */
.tooltip-conatiner.left::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(1, 1, 1, 0.7);
}

/* Right Arrow */
.tooltip-conatiner.right::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

/* Bottom Arrow */
.tooltip-conatiner.bottom::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.tooltip-background {
  margin: 10px;
}
