<div [class]="customClass">
  <mat-form-field class="example-full-width" appearance="outline">
    <ng-container *ngIf="formControlProps; else noFormControl">
      <input [type]="type" [placeholder]="placeholder" [disabled]="disabled" [formControl]="formControlProps!" matInput />
    </ng-container>
    <ng-template #noFormControl>
      <input
        [placeholder]="placeholder"
        [type]="type"
        #currentInput
        [(ngModel)]="valueProps"
        (ngModelChange)="valuePropsChange.emit(valueProps); onChange.emit()"
        [disabled]="disabled"
        matInput
      />
    </ng-template>
    <mat-label>{{ label }}</mat-label>
  </mat-form-field>
  <ng-content select=".list-validator-message"></ng-content>
</div>
