@import '../../../content/scss/mixin.scss';
.example-full-width {
  height: 40px;
  position: relative;
  .error-message-background {
    position: absolute;
    bottom: -25px;
    font-size: 14px;
    line-height: 16px;
  }
}

.mat-form-field-wrapper {
  max-height: 40px;
}

:host ::ng-deep {
  &.mat-form-field-infix {
    padding-top: 5px;
    input {
      padding: 5px 0;
    }
  }
  //   &.mat-form-field-subscript-wrapper {
  //     display: none;
  //   }
  //   &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  //   .mat-form-field-appearance-outline.mat-form-field-can-float
  //     .mat-input-server:focus
  //     + .mat-form-field-label-wrapper
  //     .mat-form-field-label {
  //     transform: translateY(-1em) scale(0.75);
  //   }
}

:host ::ng-deep .example-full-width .mat-form-field-outline {
  border-radius: 10px;
}
.example-full-width {
  @include min-size(100%, 100%);
}
