<ng-template #buttonHeaderDialog2>
  <button (click)="closeDialog()">close dialog</button>
</ng-template>
<ng-template #templateDialog2>
  <form [formGroup]="formAgencyEdit">
    <div class="row form-content">
      <div class="">
        <ams-input
          customClass="dialog-form-input"
          [className]="'col-sm-12'"
          [formControlProps]="convertAbstractControl(this.formAgencyEdit.controls['agreementName'])"
          [label]="'Thông tin'"
        >
          <div class="list-validator-message">
            <small
              *ngIf="
                (formAgencyEdit.get('agreementName')?.dirty || formAgencyEdit.get('agreementName')?.touched) &&
                formAgencyEdit.controls['agreementName'].hasError('required')
              "
            >
              bạn cần nhập thông tin !
            </small>
          </div>
        </ams-input>
      </div>
    </div>
    <div class="row py-1"></div>
    <div class="row py-1">
      <div class="col-sm-6"></div>
    </div>
    <div class="row py-1">
      <div class="col-sm-6"></div>
    </div>
    <div class="row py-1">
      <div class="col-sm-6">
        <ams-input
          customClass="dialog-form-input"
          [formControlProps]="convertAbstractControl(this.formAgencyEdit.controls['statusDate'])"
          [label]="'số hợp đồng'"
        >
        </ams-input>
      </div>
      <div class="col-sm-6">
        <ams-input
          customClass="dialog-form-input"
          [formControlProps]="convertAbstractControl(this.formAgencyEdit.controls['statusDate'])"
          [label]="'số hợp đồng'"
        >
          <div class="list-validator-message">
            <small
              *ngIf="
                (formAgencyEdit.get('agreementName')?.dirty || formAgencyEdit.get('agreementName')?.touched) &&
                formAgencyEdit.controls['agreementName'].hasError('required')
              "
            >
              bạn cần nhập thông tin !
            </small>
          </div>
        </ams-input>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-sm-6">
        <ams-input
          customClass="dialog-form-input"
          type="number"
          [formControlProps]="convertAbstractControl(this.formAgencyEdit.controls['certificateNumber'])"
          [label]="'Số chứng chỉ'"
        >
        </ams-input>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </form>
</ng-template>
