<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Reset password</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">The reset key is missing.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Choose a new password</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Your password has been reset.</strong> Please </span>
        <a class="alert-link" routerLink="/login">sign in</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">New password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="New password"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Your password is required.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Your password is required to be at least 4 characters.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <ams-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></ams-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">New password confirmation</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm the new password"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Your confirmation password is required.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Validate new password</button>
        </form>
      </div>
    </div>
  </div>
</div>
