<div class="dialog">
  <div class="dialog-header d-flex flex-row justify-content-between" mat-dialog-title>
    <div class="dialog-header-title-group d-flex flex-row justify-content-between">
      <div>
        {{ data.dialogTitle || 'sample title' }}
      </div>
      <div class="dialog-content">
        <ng-template *ngTemplateOutlet="data.customHeaderButtonGroup || samplebtnTemplate"></ng-template>
        <ng-template #samplebtnTemplate>
          <div></div>
        </ng-template>
      </div>
    </div>

    <div class="dialog-header-close-button-group">
      <button
        class="d-flex flex-row align-items-center justify-content-center rounded p-1 border-0 rounded-circle rounded"
        (click)="onNoClick()"
      >
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </div>
  </div>

  <!-- customButtonTemplate?: TemplateRef<any>;
      customButtonCancelClick: EventEmitter<any>;
      customContentTemplate?: TemplateRef<any>;
      customSubmitButtonClick: EventEmitter<any>; -->

  <mat-dialog-content class="mat-typography">
    <ng-container *ngTemplateOutlet="data.customContentTemplate || exampleContent"> </ng-container>
    <ng-template #exampleContent>
      <h3>this is sample template</h3>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions [align]="data.positionFooterBtn || 'center'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="submitClick()" cdkFocusInitial>Install</button>
  </mat-dialog-actions>
</div>
