@import '../../../content/scss/mixin.scss';

.mat-typography {
  @include min-size(max-content, max-content);
  display: unset;
}
.dialog-header {
  @include size(100%);
  &-title-group {
    @include size(calc(100% - 30px), auto);
  }
  &-close-button-group {
    width: 30px;
  }
}

.dialog {
  @include min-size(500px, 500px);
}
