<button [class]="customClass" mat-raised-button [disabled]="disabled" (click)="clickEvent.emit($event)">
  <ng-container *ngTemplateOutlet="customTemplate || defaultTemplate"></ng-container>
  <ng-template #defaultTemplate>
    <div class="button-icon"></div>
    <div class="button-title">
      {{ buttonTitle }}
    </div>
  </ng-template>
</button>
