<!-- <mat-sidenav-container class="example-container" aosize>
  <mat-sidenav
    #sidebar
    mode="side"
    opened="true"
    fixedInViewport="true"
    class="sidenav-background"
    [class]="isExpandedBooleanBoolean ? 'sidebar-hide' : 'sidebar-show'"
  >
    <ams-sidebar></ams-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <mat-toolbar color="primary" class="example-toolbar">
        <div class="w-100 d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <button mat-icon-button (click)="isExpandedBooleanBoolean = !isExpandedBooleanBoolean">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 class="example-app-name">bread crumb</h1>
          </div>
          <ams-button [customTemplate]="logout" (clickEvent)="logOut()">
            <ng-template #logout>
              <span>Log out</span>
            </ng-template>
          </ams-button>
        </div>
      </mat-toolbar>
      <div class="row">
        <div class="col">button</div>
        <div class="col">
          <ams-button [buttonTitle]="'testing'" [customTemplate]="customButton">
            <ng-template #customButton>testiung</ng-template>
          </ams-button>
        </div>
      </div>
      <div class="row">
        <div class="col">checkbox</div>
        <div class="col">
          <ams-checkbox [(checkedProps)]="mockCheck"></ams-checkbox>
          <input [(ngModel)]="mockCheck" />
        </div>
      </div>

      <div class="row">
        <div class="col">select input</div>
        <div class="col"><ams-select-input></ams-select-input></div>
      </div>
      <div class="row">
        <div class="col">table</div>
        <div class="col"><ams-table></ams-table></div>
      </div>
      <div class="row">
        <div class="col">stepper</div>
        <div class="col"><ams-stepper></ams-stepper></div>
      </div>
      <div class="row">
        <div class="col">toast confirm</div>
        <div class="col"><ams-toast></ams-toast></div>
      </div>
      <div class="row">
        <div class="col">toast message</div>
        <div class="col"><ams-toast-message></ams-toast-message></div>
      </div>

      <div class="row">
        <div class="col">toast message</div>
        <div class="col"><ams-toast-message></ams-toast-message></div>
      </div>

      <div class="row">
        <div class="col">input search</div>
        <div class="col"><ams-input-search></ams-input-search></div>
      </div>

      <div class="row">
        <div class="col">bread crumb</div>
        <div class="col"><ams-breadcrumb></ams-breadcrumb></div>
      </div>

      <div class="row">
        <div class="col">tooltip</div>
        <div class="col"><ams-tooltip></ams-tooltip></div>
      </div>
      <div class="row">
        <div class="col">modal</div>
        <div class="col"><ams-dialog></ams-dialog></div>
      </div>
      <div class="row">
        <div class="col">calendar</div>
        <div class="col"><ams-calendar></ams-calendar></div>
      </div>
      <div class="row">
        <div class="col">dialog</div>
        <div class="col"><ams-dialog></ams-dialog></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- 
<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container" autosize="true">
    <mat-sidenav #snav [mode]="'push'" opened="true" class="sidenav-custom" [class]="!isExpandedBooleanBoolean ? 'sidebar-show' : 'sidebar-hide'">
      <ams-sidebar></ams-sidebar>
      <button mat-icon-button (click)="isExpandedBooleanBoolean = !isExpandedBooleanBoolean"><mat-icon>menu</mat-icon></button>
    </mat-sidenav>

    <mat-sidenav-content class="content-background">
      <button mat-icon-button (click)="isExpandedBooleanBoolean = !isExpandedBooleanBoolean"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
      <div contenteditable="true">test</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<!-- 
[fixedInViewport]="mobileQuery?.matches"
fixedTopGap="56" -->

<mat-sidenav-container class="page-background" autosize="true">
  <mat-sidenav
    #sidenav
    fixedInViewport="true"
    class="sidenav-background"
    [style.width]="!isExpandedBoolean ? 'max-content' : '50px'"
    [mode]="isExpandedBoolean ? 'side' : 'side'"
    opened
  >
    <ams-sidebar [isMobileDesign]="mobileQuery?.matches" [(isExpanded)]="isExpandedBoolean"></ams-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <mat-toolbar color="primary" class="example-toolbar">
        <div class="w-100 d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <button *ngIf="!mobileQuery?.matches" mat-icon-button (click)="isExpandedBoolean = !isExpandedBoolean">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 class="example-app-name">bread crumb</h1>
          </div>
          <ams-button [customTemplate]="logout" (clickEvent)="logOut()">
            <ng-template #logout>
              <span>Log out</span>
            </ng-template>
          </ams-button>
        </div>
      </mat-toolbar>
      <div class="main-content-area">
        <div class="row">
          <div class="col">button</div>
          <div class="col">
            <ams-button [buttonTitle]="'testing'" [customTemplate]="customButton">
              <ng-template #customButton>testiung</ng-template>
            </ams-button>
          </div>
        </div>
        <div class="row">
          <div class="col">checkbox</div>
          <div class="col">
            <ams-checkbox [(checkedProps)]="mockCheck"></ams-checkbox>
            <input [(ngModel)]="mockCheck" />
          </div>
        </div>

        <div class="row">
          <div class="col">select input</div>
          <div class="col col-6">
            <form style="max-width: 200px" #form [formGroup]="mockFormgroup">
              <ams-select-input
                [(valueProps)]="optionValue"
                (onChange)="getCurrentSelectValue(mockFormgroup.controls['mockFormControl'])"
                [formControlProps]="mockFormgroup.controls['mockFormControl']"
                [isMultiple]="true"
              ></ams-select-input>
            </form>
            <button [disabled]="mockFormgroup.controls['mockFormControl'].invalid" (click)="getFormGroupInstance()">submit form</button>
          </div>
        </div>
        <div class="row">
          <div class="col">table</div>
          <div class="col"><ams-table></ams-table></div>
        </div>
        <div class="row">
          <div class="col">stepper</div>
          <div class="col"><ams-stepper></ams-stepper></div>
        </div>
        <div class="row">
          <div class="col">toast confirm</div>
          <div class="col"><ams-toast></ams-toast></div>
        </div>
        <div class="row">
          <div class="col">toast message</div>
          <div class="col"><ams-toast-message></ams-toast-message></div>
        </div>

        <div class="row">
          <div class="col">input search</div>
          <div class="col"><ams-input-search></ams-input-search></div>
        </div>

        <div class="row">
          <div class="col">bread crumb</div>
          <div class="col"><ams-breadcrumb></ams-breadcrumb></div>
        </div>

        <div class="row">
          <div class="col">tooltip</div>
          <div class="col">
            <div position="top" [contentTemplate]="" [customToolTip]="'djt ba may'" class="mock-tooltip-directive">
              {{ mockTooltipData }}
            </div>
          </div>
        </div>
        <div class="row p-2 d-flex flex">
          <div class="col">calendar</div>
          <div class="col custom-background-calendar"><ams-calendar></ams-calendar></div>
        </div>
        <div class="row">
          <div class="col">dialog</div>
          <div class="col">
            <button (click)="openDialog()">open dialog1</button>
            <button (click)="openDialog2()">open dialog2</button>
          </div>
        </div>
        <div class="row">
          <div class="col">input component</div>
          <div class="col">
            <div class="d-flex flex-row gap-2">
              <!-- <ams-input [formControlProps]="mockFormgroup.controls['mockFormControlInput']" [label]="'test input from parent'">
                <div class="list-validator-message">
                  <mat-error *ngIf="mockFormgroup.controls['mockFormControlInput'].hasError('required')"> cmm </mat-error>
                </div>
              </ams-input> -->
              <ams-input #input [formControlProps]="mockFormgroup.controls['mockFormControlInput']" [label]="'test input from parent'">
                <div class="list-validator-message">
                  <small
                    *ngIf="
                      (mockFormgroup.get('mockFormControlInput')?.dirty || mockFormgroup.get('mockFormControlInput')?.touched) &&
                      mockFormgroup.controls['mockFormControlInput'].hasError('required')
                    "
                  >
                    cmm
                  </small>

                  <small
                    *ngIf="
                      (mockFormgroup.get('mockFormControlInput')?.dirty || mockFormgroup.get('mockFormControlInput')?.touched) &&
                      mockFormgroup.controls['mockFormControlInput'].hasError('email')
                    "
                  >
                    cmm 2
                  </small>
                </div>
              </ams-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ams-edit-dialog #dialog2Instance> </ams-edit-dialog>

<ng-template #templateDialog>
  <h1>this is dialog 1</h1>
</ng-template>
