// .sidenav-background {
//   position: relative;
// }
// @media (max-width: 600px) {
//   .sidenav-background {
//     position: absolute;
//   }
// }
:ng-deep * {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.example-sidenav-content {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main-content-area {
  border: 1px solid black;
  height: 100%;
  overflow: auto;
  .row {
    margin: 0;
  }
  padding: 20px;
}

.sidenav-background {
  overflow: hidden;
  min-width: max-content;
  height: max-content;
}

.mock-tooltip-directive {
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}

.custom-background-calendar {
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 40px;
  align-items: center;
  justify-content: flex-start;
}
