<!-- <div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>

  <ams-footer></ams-footer>
</div> -->

<!-- <ng-container *ngIf="true"> -->
<!-- <ams-login> -->

<!-- </ams-login> -->
<!-- </ng-container> -->
<router-outlet> </router-outlet>
