// // mat-form-field {
// //   border: 2px solid red;
// // }
::ng-deep .mat-select-panel.mat-primary {
  min-width: unset;
  width: inherit;
}

::ng-deep .mat-option.mat-primary {
  width: 100%;
}
.form-field-background {
  width: 100%;
}
:host ::ng-deep.mat-form-field-underline {
  display: none;
}

.select-input-custom {
  border: 1px solid black;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
}
.label-placeholder {
  position: absolute;
  top: 18px;
  left: 15px;
  padding: 0 5px;
  transition: all 0.13s ease-in;
  background: white;
  font-size: 15px;
}
.mat-focused .label-placeholder {
  top: 0px;
  font-size: 12px;
  line-height: 15px;
}
.label-placeholder.label-active {
  top: 0px;
  font-size: 12px;
  line-height: 15px;
}

.select-input-delete-icon {
  position: absolute;
  padding: 5px 10px;
  //   border: 1px solid;
  //   border-color: red;
  right: 20px;
  /* left: 0; */
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .custom-select-overlay {
//   background: red;
// }

::ng-deep .mat-select-panel {
  margin-top: 30px;
  &.custom-panel-class {
    color: blue;
    // background: red;
    min-width: calc(100% + 20px) !important;
    margin-left: 30px;
  }
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin: unset;
  font-size: 16px;
  line-height: 18px;
  margin-left: 15px;
  padding: unset;
  top: unset;
}
:host ::ng-deep.mat-select-panel-wrap {
  margin-top: 20px;
}
:host ::ng-deep .mat-select-value {
  padding-right: 10px;
}

/* Add this CSS code to your component's CSS file or styles.scss */

.custom-panel-class {
  width: inherit;
}

.custom-panel .mat-option {
  width: 100%;
}
