<mat-form-field class="form-field-background" *ngIf="options.length && !checkIsFormControl()">
  <mat-select
    overlayPanelClass="custom-select-overlay"
    class="select-input-custom"
    [panelClass]="isMultiple ? 'custom-panel-class' : ''"
    [disableOptionCentering]="true"
    [(ngModel)]="valueProps"
    (selectionChange)="valuePropsChange.emit(valueProps); onChange.emit()"
    [multiple]="isMultiple"
  >
    <ng-container *ngIf="options.length">
      <mat-option *ngFor="let item of options" [value]="options">
        {{ item | selectInput: optionLabelObject }}
      </mat-option>
    </ng-container>
  </mat-select>
  <span
    [class]="formControlProps?.value || (formControlProps?.value?.length && isMultiple) || valueProps ? 'label-active' : ''"
    class="label-placeholder"
    >{{ label }}</span
  >
  <div
    (click)="deleteSelectItem($event)"
    *ngIf="formControlProps?.value || (formControlProps?.value?.length && isMultiple) || valueProps"
    class="absolute select-input-delete-icon"
  >
    X
  </div>
</mat-form-field>

<mat-form-field *ngIf="checkIsFormControl()" class="form-field-background">
  <mat-select
    [disableOptionCentering]="true"
    class="select-input-custom"
    [formControl]="formControlProps!"
    [panelClass]="isMultiple ? 'custom-panel-class' : ''"
    overlayPanelClass="custom-select-overlay"
    (selectionChange)="onChange.emit()"
    [multiple]="isMultiple"
  >
    <mat-option *ngFor="let item of options" [value]="item">
      <span>
        {{ item | selectInput: optionLabelObject }}
      </span>
    </mat-option>
  </mat-select>
  <span
    [class]="formControlProps?.value || (formControlProps?.value?.length && isMultiple) || valueProps ? 'label-active' : ''"
    class="label-placeholder"
    >{{ label }}</span
  >
  <div
    (click)="deleteSelectItem($event)"
    *ngIf="formControlProps?.value || (formControlProps?.value?.length && isMultiple) || valueProps"
    class="absolute select-input-delete-icon"
  >
    X
  </div>

  <mat-error *ngIf="formControlProps?.hasError('required')">{{ requireValidate }}</mat-error>
</mat-form-field>
