<div>
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading">Application Metrics</span>

    <button class="btn btn-primary float-end" (click)="refresh()"><fa-icon icon="sync"></fa-icon> <span>Refresh</span></button>
  </h2>

  <h3>JVM Metrics</h3>

  <div class="row" *ngIf="metrics && !updatingMetrics">
    <ams-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm"></ams-jvm-memory>

    <ams-jvm-threads class="col-md-4" [threads]="threads"></ams-jvm-threads>

    <ams-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics"></ams-metrics-system>
  </div>

  <ams-metrics-garbagecollector
    *ngIf="metrics && metricsKeyExists('garbageCollector')"
    [updating]="updatingMetrics"
    [garbageCollectorMetrics]="metrics.garbageCollector"
  ></ams-metrics-garbagecollector>

  <div class="well well-lg" *ngIf="updatingMetrics">Updating...</div>

  <ams-metrics-request
    *ngIf="metrics && metricsKeyExists('http.server.requests')"
    [updating]="updatingMetrics"
    [requestMetrics]="metrics['http.server.requests']"
  ></ams-metrics-request>

  <ams-metrics-endpoints-requests
    *ngIf="metrics && metricsKeyExists('services')"
    [updating]="updatingMetrics"
    [endpointsRequestsMetrics]="metrics.services"
  ></ams-metrics-endpoints-requests>

  <ams-metrics-cache
    *ngIf="metrics && metricsKeyExists('cache')"
    [updating]="updatingMetrics"
    [cacheMetrics]="metrics.cache"
  ></ams-metrics-cache>

  <ams-metrics-datasource
    *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
    [updating]="updatingMetrics"
    [datasourceMetrics]="metrics.databases"
  ></ams-metrics-datasource>
</div>
