:host ::ng-deep {
  .mat-form-field-underline {
    display: none;
    // border-bottom: 1px solid transparent !important;
    // outline: 0;
  }

  .background-calendar {
    .mat-form-field-flex {
      height: 50px;
      line-height: 30px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 0 20px;
    }
    mat-datepicker-toggle {
      position: absolute;
      top: -10px;
      right: -10px;
    }
    .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
      line-height: 20px;
    }
    .mat-form-field-label {
      margin: 0;
      z-index: 1000;
      padding: 5px;
      position: absolute;
      // border: 1px solid black;
      mat-label {
        padding: 0 10px;
        background: white;
        color: black;
      }
    }
    .mat-form-field-label-wrapper {
      position: absolute;
      bottom: 0;
      margin: -5px;
      left: 0;
      line-height: 10px;
    }
  }
}
