<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
  <div class="modal-header">
    <h4 class="modal-title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <ams-alert-error></ams-alert-error>

    <p>Are you sure you want to delete user {{ user.login }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button type="submit" class="btn btn-danger"><fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span></button>
  </div>
</form>
