@mixin size($width: unset, $height: unset) {
  height: $height;
  width: $width;
}
@mixin min-size($minwidth: unset, $minheight: unset) {
  min-height: $minheight;
  min-width: $minwidth;
}
@mixin max-size($maxwidth: unset, $maxheight: unset) {
  max-width: $maxwidth;
  max-height: $maxheight;
}
@mixin transition-element($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($args...) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre + box-shadow}: $args;
  }
  #{box-shadow}: #{$args};
}
