<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Reset your password</h1>

      <ams-alert-error></ams-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span>Enter the email address you used to register</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span>Check your emails for details on how to reset your password.</span>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required"> Your email is required. </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email"> Your email is invalid. </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
              Your email is required to be at least 5 characters.
            </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
              Your email cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Reset password</button>
      </form>
    </div>
  </div>
</div>
